<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-genre
      [genre]="updatedGr"
      (genreUpdated)="genreUpdated($event)"
      [ajout]="ajout"
    ></app-update-genre>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Genre</th>
          </tr>
        </thead>
        <tbody *ngFor="let gr of genres">
          <tr>
            <td>{{ gr.idGenre }}</td>
            <td>{{ gr.nomGenre }}</td>
            <td>
              <a class="btn btn-success" (click)="updateGr(gr)">Editer</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
