<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Titre</th>
          <th>Réalisateur</th>
          <th>Date Sortie</th>
          <th>Genre</th>
        </tr>
        <tbody *ngFor="let film of films">
          <tr>
            <td>{{ film.idFilm }}</td>
            <td>{{ film.titreFilm }}</td>
            <td>{{ film.realisateur }}</td>
            <td>{{ film.dateSortie | date : "dd/MM/yyyy" }}</td>
            <td>{{ film.genre!.nomGenre }}</td>
            <td>
              <a
                class="btn btn-danger"
                (click)="supprimerFilm(film)"
                *ngIf="authService.isAdmin()"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updatefilm', film.idFilm]"
                *ngIf="authService.isAdmin()"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
